
@{
    ViewBag.Title = "Index";
}
<style>
     
    .custom-title h3 {
      margin: 90px auto;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

     .custom-title h1{
      font-size:65px;
      margin: 90px auto;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
    }


    a {
        color: #fff;
        text-decoration: none;
    }

    .me {
        width: 400px;
        margin: 90px auto;
    }

        .me p,
        .me h1 {
            text-transform: uppercase;
            letter-spacing: 3px;
            text-align: center;
        }

        .me p {
            font-weight: 200;
        }

        .me span {
            font-weight: bold;
        }

    body {
        background: #25343F;
        color: #fff;
        font-family: 'Raleway', sans-serif;
    }

    </style>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div class="custom-title">
    <h1> Welcome To Final Project</h1>
    <h3>@Html.ActionLink("ENTER", "LoginPage")</h3>
</div >


<br></br>
<br></br>
    <div class="me">
        <p> Created by: <p>
            <h1> Daria Ermakova </h1>
        <p>
            for <span> Websites Management</span>
        </p>
    </div>

    <div class="me">
        <hr />
        <p>Course Number: 35-866-01</p>
        <p>Study Year: תשע"ה</p>
    </div>