@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>


@using (Html.BeginForm())
{
    <input type="text" name="tz" value="@ViewBag.tz" />
    <input type="submit" value="חפש" />
}
<p>
    @ViewBag.msg
</p>
<a href="/Home/">מעבר להוספה</a>

