@{
    Layout = "";  
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Final Work</title>

</head>
<body style="background-color: white; color: red">
    <div>
        Enter here yours openeing site\ final work page! 
        <br />
        it must include:
        <ol>
            <li>your name(s)</li>
            <li>yourid numes</li>
            <li>course number</li>
            <li>Hebrew year Name</li>
            <li>links to 2 docuemnts</li>
        </ol>
    </div>
    @Html.ActionLink("Enter Here", "login")


</body>
</html>
